{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    yo
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">
    </span>
    <strong>Push</strong>
    <span class="count">
        <span>{{ collector.data.messages_count }}</span>
        <span>{{ collector.data.messages_size }} bytes</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    ouais
{% endblock %}
